{% extends "layout.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}

    <section class="clearfix">
        <div class="container">
            <div class="row">

                    <h2>Inscription</h2>
                    {{ form( form, { attr: {novalidate: 'novalidate' } } ) }}

                {{ form_start( form, { attr: {novalidate: 'novalidate' }} ) }}

                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="col-md-12">
                    {{ form_row(form.prenom) }}
                </div>

                <div class="col-md-12">
                    {{ form_row(form.nom) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.password) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(form.adresse) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(form.cp) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(form.ville) }}
                </div>

                <div class="col-md-12">
                    {{ form_row(form.termsAccepted) }}
                </div>

                <div>
                    {{ form_row(form.submit) }}
                </div>


                {{ form_end(form) }}

            </div>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}