{% extends "layout.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}

        <div class="container inscription">
            <div class="row">

                <h2>Inscription</h2>

                {{ form_start( form, { attr: {novalidate: 'novalidate' }} ) }}

                <div class="col-md-12">
                    {{ form_row(form.prenom) }}
                </div>

                <div class="col-md-12">
                    {{ form_row(form.nom) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.password) }}
                </div>

                <div class="col-md-4">
                    {{ form_row(form.adresse) }}
                </div>

                <div class="col-md-4" id="cp">
                    {{ form_row(form.cp) }}
                </div>

                <div class="col-md-4" id="ville">
                    {{ form_row(form.ville) }}
                </div>

                <div>
                    {{ form_row(form.submit) }}
                </div>


                {{ form_end(form) }}

            </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('form').change(function() {
                var zipCode = $('#cp').val(),
                    link = 'https://geo.api.gouv.fr/communes?codePostal=' + zipCode;
                $.getJSON(link, function (data) {

                    $('#ville').val(`${data.nom}`);

                }); // end $.getJSON
            });
        }); // end $(function () {})
    </script>

{% endblock %}