{% extends "layout.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}

    <div class="container modification">
        <div class="row">

            <h2>Mon Profil</h2>

            <div class="col-md-12 text-center profil-details">
                <img src="{{ asset('img/default-profile.png') }}" alt="profile">
                <p>{{ app.user.prenom }} {{ app.user.nom }}</p>
                <p>{{ app.user.email }}</p>
                <p>{{ app.user.adresse }}</p>
            </div>

            <div class="text-center">
                <button class="btn btn-modifier">Modifier mon profil</button>
                <button class="btn btn-supprimer">Supprimer mon compte</button>
            </div>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}