{% extends "layout.html.twig" %}

{% block title %}
    {{ categorie.nom }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
            {% if articles is not empty %}


                <div class="box-caption">
                    {#<span>{{ articles[0].categorie.nom }}</span>#}
                    <span>{{ categorie.nom }}</span>
                    {#<span>{{ app.request.get('slug') }}</span>#}
                </div>
                <!--list-news-cate-->
                <div class="list-news-cate">
                    {% for article in articles %}


                        <article class="news-cate-item">
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <a href="{{ path('default_article',{'categorie' :article.categorie.slug,'slug': categorie.slug, 'id' : categorie.id}) }}">
                                        <img alt="{{ article.nom }}"
                                             src="{{ asset('img/' ~ article.photo) }}">
                                    </a>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <h3>
                                        <a href="{{ path('default_article',{'categorie' :article.categorie.slug,'slug': categorie.slug, 'id' : categorie.id}) }}">{{ article.nom }}</a>
                                    </h3>

                                    {{ article.description | summarize }}
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <strong>Aucune publication pour le moment</strong>
                </div>
            {% endif %}



        </div>

    </div>
</div>
{% endblock %}

