{% extends "layout.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <section class="slider" id="home">
        <div class="container-fluid">
            <div class="row">

                <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="header-backup"></div>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{{ asset('img/slide-one.jpg') }}" alt="">
                            <div class="carousel-caption">
                                <h1>Nos offres</h1>
                                <p>vos produits préférés</p>
                                <button>learn more</button>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('img/slide-two.jpg') }}" alt="">
                            <div class="carousel-caption">
                                <h1>Coups du coeur</h1>
                                <p>bougie artisanale</p>
                                <button>learn more</button>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('img/slide-three.jpg') }}" alt="">
                            <div class="carousel-caption">
                                <h1>Nos coffres</h1>
                                <p>bon pour la santé et l'environnement</p>
                                <button>learn more</button>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('img/slide-four.jpg') }}" alt="">
                            <div class="carousel-caption">
                                <h1>Produits bio</h1>
                                <p>crème hydrantant</p>
                                <button>learn more</button>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </section><!-- end of slider section -->


    <!-- about section -->
    <section class="about text-center" id="about">
        <div class="container">
            <div class="row">
                <h2>à propos</h2>
                <h4>Elanature vous propose des produits cosmétiques et d'entretien 100% naturels et bio comme alternative aux produits chimiques. Ceci afin d'arrêter l'absorption de produits chimiques par le corps; nocifs pour la santé et l'environnement.</h4>

                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail clearfix">
                        <div class="about-img">
                            <img src="{{ asset('img/about1.jpg') }}" alt="">
                        </div>

                        <div class="about-details">

                            <h3>Cosmétiques</h3>
                            <p>Nous mélangeons des ingrédients naturels pour créer des produits à la fois sûrs et performants pour vos corps, vos cheveux, vos visages, vos bébé.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail">
                        <div class="about-img">
                            <img class="img-responsive" src="{{ asset('img/about2.jpg') }}" alt="">
                        </div>

                        <div class="about-details">
                            
                            <h3>Entretien Maison</h3>
                            <p>Vous rêvez d'une maison saine au naturel? Découvrez vite nos produits d'entretien naturels écologiques pour vos maisons.</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6">
                    <div class="single-about-detail">
                        <div class="about-img">
                            <img class="img-responsive" src="{{ asset('img/about3.jpg') }}" alt="">
                        </div>

                        <div class="about-details">

                            <h3>Bougies</h3>
                            <p>La fabrication de bougie est un art subtil et délicat. C'est la raison pour laquelle toutes nos fabrications sont artisanales afin d'associer tradition et qualité.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- end of about section -->


    <!-- service section starts here -->

    <section class="service text-center" id="service">
        <div class="container">
            <div class="row">
                <h2>catégories</h2>
                <h4>Nous vous proposons plusieurs produits que nous adorons et vous aussi.</h4>

                <div class="col-md-4 col-sm-6">
                    <div class="single-service">
                        <div class="single-service-img">
                            <div class="service-img">
                                <img class="img-responsive" src="{{ asset('img/service1.jpg') }}" alt="">
                            </div>
                        </div>
                        <h3>Corps</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-service">
                        <div class="single-service-img">
                            <div class="service-img">
                                <img class="img-responsive" src="{{ asset('img/service2.jpg') }}" alt="">
                            </div>
                        </div>
                        <h3>Cheuveux</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-service">
                        <div class="single-service-img">
                            <div class="service-img">
                                <img class="img-responsive" src="{{ asset('img/service3.jpg') }}" alt="">
                            </div>
                        </div>
                        <h3>Maquillage</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-service">
                        <div class="single-service-img">
                            <div class="service-img">
                                <img class="img-responsive" src="{{ asset('img/service4.webp') }}" alt="">
                            </div>
                        </div>
                        <h3>Bébé</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-service">
                        <div class="single-service-img">
                            <div class="service-img">
                                <img class="img-responsive" src="{{ asset('img/service5.jpeg') }}" alt="">
                            </div>
                        </div>
                        <h3>Bougies</h3>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="single-service">
                        <div class="single-service-img">
                            <div class="service-img">
                                <img class="img-responsive" src="{{ asset('img/service6.jpeg') }}" alt="">
                            </div>
                        </div>
                        <h3>Maison</h3>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- end of service section -->


    <!-- blog section -->

    <section class="blog" id="blog">
        <div class="container">
            <div class="row">
                <div class="blog-heading text-center">
                    <h2>Blog</h2>
                    <h4>Les informations utiles atour des produits naturels que vous adorez.</h4>
                </div><!-- blog header -->

                <div class="col-md-2 single-blog col-sm-4">
                    <div class="blog-img">
                        <img class="img-responsive" src="{{ asset('img/item1.jpeg') }}" alt="item-1">
                    </div>
                    <div class="blog-detail">
                        <h3>Huiles végétales</h3>
                        <p>Voici un topo pour les huiles végétales, pour qui et pour quoi? En fonction du type de peau et des cheveux, nous pouvons facilement cibler le besoin et nous orienter vers le bon choix.</p>
                    </div>
                </div><!-- blog 1 -->

                <div class="col-md-2 single-blog col-sm-4">
                    <div class="blog-detail">
                        <h3>Bougies Bijoux</h3>
                        <p>Les bougies sont fabriquées à partir de cire végétale de colza et de cire végétale de soja non OGM, une excellente alternative aux substances pétrochimiques dangereuses pour la santé et la nature. </p>
                    </div>
                    <div class="blog-img">
                        <img class="img-responsive" src="{{ asset('img/item2.gif') }}" alt="item-2">
                    </div>
                </div><!-- blog 2 -->

                <div class="col-md-2 single-blog col-sm-4">
                    <div class="blog-img">
                        <img class="img-responsive" src="{{ asset('img/item3.png') }}" alt="item-3">
                    </div>
                    <div class="blog-detail">
                        <h3>Crème Anti-Rides</h3>
                        <p>La plupart des publicités le disent, les crèmes anti-âge agissent en profondeur pour effacer les rides. Elles hydratent en profondeur et revitalisent la peau. Hmm…Oui mais non.</p>
                    </div>
                </div><!-- blog 3 -->

                <div class="col-md-2 single-blog col-sm-4">
                    <div class="blog-detail">
                        <h3>Henné gloss</h3>
                        <p>Le henné gloss est un soin miracle pour apporter du volume et de l’hydratation aux cheveux fins, aux cheveux raplapla qui en plus sont ternes et font littéralement “ la gueule”. Super simple et rapide.</p>
                    </div>
                    <div class="blog-img">
                        <img class="img-responsive" src="{{ asset('img/item4.jpeg') }}" alt="item-4">
                    </div>
                </div><!-- blog 4 -->

                <div class="col-md-2 single-blog col-sm-4">
                    <div class="blog-img">
                        <img class="img-responsive" src="{{ asset('img/item5.png') }}" alt="item-5">
                    </div>
                    <div class="blog-detail">
                        <h3>Eau de rinçage</h3>
                        <p>Cette eau de rinçage est l’une des plus connues. Elle permet d’enlever les résidus de calcaire encore présents sur les cheveux. Vous pouvez facilement soigner votre cuir chevelu,stimuler la pousse des cheveux ou les rendre tout doux.</p>
                    </div>
                </div><!-- blog 5 -->

                <div class="col-md-2 single-blog col-sm-4">
                    <div class="blog-detail">
                        <h3>Lait Nettoyant</h3>
                        <p>Naturel et efficace, ce savon convient à tous les épidermes. C'est l'alternative idéale aux produits du commerce. Vous ne pourrez bientôt plus vous en passer, et votre peau vous dira merci ! Pensez à laver et désinfecter le pot.</p>
                    </div>
                    <div class="blog-img">
                        <img class="img-responsive" src="{{ asset('img/item6.jpeg') }}" alt="item-6">
                    </div>
                </div><!-- blog 6 -->
            </div>
        </div>
    </section><!-- end of blog section -->

    <!-- contact section starts here -->
    <section class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-caption clearfix">
                    <div class="contact-heading text-center">
                        <h2>contactez nous</h2>
                    </div>

                    <div class="col-md-5 contact-info text-left">
                        <h3>contact information</h3>
                        <div class="info-detail">
                            <ul>
                                <li><i class="fa fa-calendar"></i><span>lundi - vendredi:</span> 9:30 AM to 6:30 PM</li>
                            </ul>
                            <ul>
                                <li><i class="fa fa-map-marker"></i><span>Adresse:</span>Place du Général de Gaulle, 78990 Elancourt</li>
                            </ul>
                            <ul>
                                <li><i class="fa fa-phone"></i><span>Phone:</span> 06-01-02-03-04</li>
                            </ul>
                            <ul>
                                <li><i class="fa fa-envelope"></i><span>Email:</span> elanature@gmail.com</li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-md-6 col-md-offset-1 contact-form">
                        <h3>Laissez nous un message</h3>

                        <form class="form">
                            <input class="name" type="text" placeholder="Votre nom">
                            <input class="email" type="email" placeholder="Votre email">
                            <input class="phone" type="text" placeholder="Votre téléphone">
                            <textarea class="message" name="message" id="message" cols="30" rows="10"
                                      placeholder="Votre message"></textarea>
                            <input class="submit-btn" type="submit" value="Envoyez">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- end of contact section -->

{% endblock %}


