<!-- ====================================================
	header section -->
<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-4 header-logo">
                <br>
                <a href="{{ path('index') }}"><img src="{{ asset('img/logo.png') }}" alt="" class="img-responsive logo"></a>
            </div>

            <div class="col-md-9 col-sm-10 col-xs-8">
                <nav class="navbar navbar-default">
                    <div class="container-fluid nav-bar">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="menu active" href="{{ path('index') }}">Home</a></li>
                                <li><a class="menu" href="#about">à propos</a></li>
                                <li><a class="menu dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false" href="#service">Catégories</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="menu dropdown-item" href="">Corps</a></li>
                                        <li><a class="menu dropdown-item" href="">Cheveux</a></li>
                                        <li><a class="menu dropdown-item" href="">Bébé</a></li>
                                        <li><a class="menu dropdown-item" href="">Maquillage</a></li>
                                        <li><a class="menu dropdown-item" href="">Bougies</a></li>
                                        <li><a class="menu dropdown-item" href="">Maison</a></li>
                                    </ul>
                                </li>
                                <li><a class="menu" href="#blog">blog</a></li>
                                <li><a class="menu" href="#contact">contact</a></li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    
                                    <li><a href="{{ path('membre_deconnexion') }}" class="btn btn-success" role="button"></a></li>
                                    <li><a href=""><i class="fas fa-shopping-basket"></i></a></li>
                                    
                                {% else %}
                                    
                                    <li><a href="{{ path('membre_connexion') }}" class="btn btn-success" role="button">Connexion</a></li>
                                    <li><a href="{{ path('membre_inscription') }}" class="btn btn-success" role="button">S'inscrire</a></li>
                                    
                                {% endif %}
                                
                            </ul>
                        </div><!-- /navbar-collapse -->
                    </div><!-- / .container-fluid -->
                </nav>
            </div>
        </div>
    </div>
</header> <!-- end of header area -->